@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins" ,sans-serif;
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.blueShadow {
    box-shadow: 0 0 0 0 transparent;
    transform: translate(0, 0);
    transition: box-shadow 1000ms ease, transform 1000ms ease;
}

.blueShadow:hover {
    box-shadow: 6px 6px 0 0 #60a5fa;
    transform: translate(-5px, -5px);
    border-color: #386fb2;
}